<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOZOL.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
				<key>dateExpires</key>
				<string>14/08/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GMStepper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HexColors.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JDStatusBarNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RSKPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TSMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A0F132B65750DF2A7F54FA2F0978550B99F0EB3</string>
						<key>dateExpires</key>
						<string>14/08/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77DK64B3AV</string>
						<key>name</key>
						<string>Mohamed Elsayed</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>77DK64B3AV.com.nozol.nozol</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>77DK64B3AV</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NOZOL.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e841a0b8-885a-4cda-b1b0-cd826247283b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nozol.nozol</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>77DK64B3AV</string>
				<key>name</key>
				<string>Mohamed Elsayed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
